<div class="form-group mb-3">
    <label class="form-label">{{ label }}</label>
    <input 
        type="{% if input_type %}{{ input_type }}{% else %}text{% endif %}" 
        class="form-control" 
        name="{{ name }}" 
        id="input-{{ name }}"
        placeholder="{{ placeholder }}" 
        value="{{ value }}"
        aria-label="{{ label }}"
        {% if not null %}required{% endif %} 
        {% if disabled %}disabled{% endif %}>
    {% if help_text %}
    <div class="mt-1">
        <small class="form-hint">
            {{ help_text }}
        </small>
    </div>
    {% endif %}
</div>
