{% extends 'widgets/inputs/base.html' %}

{% block content %}
{% with id = 'form-select-' + name %}
<div class="form-group mb-3">
    <label class="form-label">{{ label }}</label>
    <select class="form-select" name="{{ name }}" id="{{ id }}" multiple
        data-placeholder="{{ placeholder }}"
        aria-label="{{ label }}"
        title="{{ label }}"
        {% if not null %}required{% endif %}
        {% if disabled %}disabled{% endif %}>
        {% for option in options %}
        <option value="{{ option.value }}" 
            {% if value and option.value in value %}selected{% endif %}
            {% if selected and option.value in selected %}selected{% endif %}>
            {{ option.label }}
        </option>
        {% endfor %}
    </select>
    {% if help_text %}
    <div class="mt-2">
        <small class="form-hint">
            {{ help_text }}
        </small>
    </div>
    {% endif %}
</div>
{% include "components/multiselect.html" %}
{% endwith %}
{% endblock %} 