<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selectElement = document.getElementById('{{ id }}');
        if (selectElement) {
            new TomSelect(selectElement, {
                plugins: {
                    remove_button: {
                        title: '删除此项'
                    },
                    clear_button: {
                        title: '清空选择'
                    }
                },
                hideSelected: false,
                persist: false,
                createOnBlur: false,
                create: false,
                allowEmptyOption: true,
                placeholder: "{{ placeholder }}",
                maxItems: null
            });
        }
    });
</script> 